# 1. Bảo mật (Tuyệt đối không upload)
.env
credentials.json
cookies.txt
# 2. Thư viện & Hệ thống (Nặng, không cần thiết)
node_modules/
.DS_Store
npm-debug.log

# 3. Dữ liệu tạm & Cache (Sinh ra khi chạy)
cache/
temp_downloads/
data/music.db
data/music.db-journal

# Lưu ý: Giữ lại thư mục data rỗng (nếu cần) nhưng không upload file db
# Bạn có thể tạo file data/.gitkeep nếu muốn giữ cấu trúc thư mục

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
